
.questions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 20px;
}

.filter-buttons button {
    color: #4a4a4a;
    margin-right: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #d6d8db;
    border-radius: 4px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: #e9ecef;
}

.questions-list {
    border-top: 1px solid #e1e4e8;
}

.question-item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #e1e4e8;
}

.question-stats {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    font-size: 14px;
    color: #6c757d;
}
.question-stats p {
    text-align: end;
    margin: 5px;
    padding: 0;
}
.question-summary {
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 40px;
}

.question-title {
    font-size: 16px;
    color: #0074cc;
    text-decoration: none;
}

.question-title:hover {
    text-decoration: underline;
}

.question-detail {
    margin: 5px 0;
    font-size: 14px;
    color: #4a4a4a;
}

.question-tags-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-tags {
    margin-top: 5px;
}

.tag {
    display: inline-block;
    background-color: #e1ecf4;
    color: #39739d;
    border-radius: 3px;
    padding: 5px 8px;
    margin-right: 5px;
    font-size: 12px;
}

.question-meta {
    font-size: 12px;
    color: #6c757d;
}
